<br>


<div class="mainContainer">
	<table class="topBar" width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td valign="top">
				<div id="searchURLDiv">
					<form action="/find/" method="GET">

						<input 
							id="search_url" 
							name="search_url"
							value="<%= @searchTerm %>"
						/>
						<script language="javascript">document.getElementById('search_url').focus();</script>
						<button
							class="goFind" 
							onclick="window.location.href='/find/'+URLEncode(document.getElementById('search_url').value);"
							title="Search"
						>Search
						</button>
						<% if @searchTerm || params[:cat] %>
							<button
								class="goAll" 
								onclick="window.location.href='/';return false;"
								title="Clear search and show all"
							>Show all
							</button>
						<% end %>
						<select id="cat" onchange="document.location='/cat/'+this.options[this.selectedIndex].value;">
							<option 
								value="*" 
								<%= "SELECTED" "*" == params[:cat].to_s %>
							>All Categories

							<% Category.all.each do |c| %>
								<option 
									value="<%= c.id %>" 
									<%= "SELECTED" if c.id.to_s == params[:cat].to_s %>
								><%= c.name %> (<%= Categorization.all(:category_id => c.id).count %>)
							<% end %>
						</select>
					</form>
			
				</div>
			</td>

			<td align="right">
				<%= erb :new, :layout => false %>
				<script language=javascript>hideDiv('newURLMoreDiv');</script>
			</td>
		</tr>
	</table>

	<div class="allEntriesContainer" >
		<% if !@urls %>
			<b>There are no entries in the database. Start by entering a new link.</b>
		<% end %>


		<table id="allEntriesTable" width="100%" border="0" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Description
					</th>
					<th>
						Categories
					</th>
					<th>
						Edit|Del
					</th>
				</tr>
			</thead>
			<% @urls.each do |url| %>
			
			<tr class="urlDivContainer">
				<td class="urlDiv">
				  	<a href="<%= url.url %>" target="_blank"><%= url.url %></a>
				</td>
				<td class="urlDescDiv">
				  	<%= url.description %>&nbsp;
				</td>
				<td>
					<div class="allCategoriesDiv">
					<% url.categories.each do |cat| %>
						-<%= cat.name %>
					<% end %>
					</div>
				</td>
				<td class="urlEditDel">
					<div  class="buttons">
						<button
							onclick="popupBig('/edit/<%= url.id %>');"
							class="goEdit" 
							title="Edit" 
						>&nbsp;</button>

						<button
							onclick="if (confirmDelete('<%= url.url %>') ){window.location.href='/delete/<%= url.id %>';}"
							type="button" 
							class="goDelete" 
							value="" 
							title="Delete" 
						>&nbsp;</button>
					</div>
				</td>
			</tr>
			<% end %>
		</table>
	</div>

