
<script language=javascript>
	onunload="window.opener.location.reload()";
</script>
	
<b>Edit category:</b>
<div class="entryContainer">

	  <form action="/cats/update/<%= @cat.id %>" method="POST">

	  	<table width="100%">
	  		<tr>
	  			<td align="right">
	  				Category: 
	  			</td>
	  			<td>
					<input id="cat_name" name="cat_name"  value="<%= @cat.name %>">
	  			</td>
	  			<td align="right">
					<button 
						type="submit"
						class="goSave" 
						href="#" 
						title="Save">Save
					</button>
	  			</td>
  			</tr>
  			<tr>
	  			<td colspan="3" align="right">
					<button 
						type="submit"
						class="goDelete" 
						onclick="if (confirmDeleteCat('<%= @cat.name %>') ){window.location.href='/cats/delete/<%= @cat.id %>';};return false;"
						title="Delete">Delete
					</button>
						
	  			</td>
  			</tr>
  			<tr>
	  			<td colspan="3" align="right">
					<button 
						type="submit"
						class="goCancel" 
						onclick="window.location.href='/cats/';return false;"
						title="Cancel">Cancel
					</button>
	  			</td>
  			</tr>
		</table>

	<p>
	
	This category is used by <%= Categorization.count(:category_id => @cat.id) %> links.
	
	</p>
	</form>



